.upload-form{
    width: 50%;
    margin: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

input { 
    margin: 5px;
}

label {
    font-weight: bold;
}
